[submodule "ofxCocoaPlugins/libs/openframeworks"]
	path = ofxCocoaPlugins/libs/openframeworks
	url = https://github.com/olekristensen/openFrameworks.git
[submodule "ofxCocoaPlugins/libs/Addons/ofxCvOpticalFlowLK"]
	path = ofxCocoaPlugins/libs/Addons/ofxCvOpticalFlowLK
	url = https://github.com/Flightphase/ofxCvOpticalFlowLK.git
[submodule "ofxCocoaPlugins/libs/jscocoa"]
        path = ofxCocoaPlugins/libs/jscocoa
        url = https://github.com/parmanoir/jscocoa.git
